<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cho phép ứng dụng truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HITCApp"
        tools:targetApi="31">

        <activity
            android:name=".AccountActivity"
            android:exported="false" /> <!-- Màn hình tài khoản người dùng -->

        <activity
            android:name=".CheckoutActivity"
            android:exported="false" /> <!-- Màn hình thanh toán -->

        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- Màn hình đăng nhập (khởi động ứng dụng) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistrationActivity"
            android:exported="false" /> <!-- Màn hình đăng ký tài khoản -->

        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- Màn hình chính sau khi đăng nhập -->

        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" /> <!-- Màn hình chi tiết sản phẩm -->

        <activity
            android:name=".ProductListActivity"
            android:exported="true" /> <!-- Màn hình danh sách sản phẩm -->

        <activity
            android:name=".CartActivity"
            android:exported="false" /> <!-- Màn hình giỏ hàng -->

        <activity
            android:name=".CategoryActivity" /> <!-- Màn hình phân loại sản phẩm -->

    </application>

</manifest>